@import './variables.css';

:root {
  background-color: var(--background);
  font-family: var(--font-family-main);
  color: var(--primary);
}

.subtext {
  font-family: var(--font-family-sub);
}

input:focus {
  border: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}


img#logo {
  margin: auto;

}

button#aboutus {
  margin: 15px;
  color: var(--primary);
  font-size: 24px;
  text-decoration: none;
  background-color: transparent;
}

button#aboutus:hover {
  color: var(--button);
}
