/* variables.css */

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Tenali+Ramakrishna&display=swap');

:root {
/* CSS Variables for Default Theme */
  --primary: rgba(64, 37, 10, 1); /* Spinner main color */
  --secondary: rgba(241, 230, 213, 1); /* Background */
  --tertiary: rgba(216, 207, 198, 1); /* List highlight */
  --bg-tertiary: rgba(236, 226, 218, 1);
  --button: rgba(109, 57, 21, 1); /* Button Colors*/
  --accent: rgb(230, 106, 106); /* Accent colors (e.g., heart, hover effects) */
  --background: rgba(236, 233, 224, 1); /* Overall background */
  --font-dark: #4A403A; /* Dark text */
  --font-light: #FFFFFF; /* Light text */

  /* Typography */
  --font-family-main: 'Reem Kufi', sans-serif;
  --font-family-sub: 'Tenali Ramakrishna', sans-serif;
  --font-size-small: 16px;
  --font-size-base: 18px;
  --font-size-large: 24px;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Shadow */
  --drop-shadow-color: rgba(157, 142, 130, 1);

  /* Borders */
  --border-size-small: 0.5px;
  --border-size-medium: 1.0px;
  --border-size-big: 1.5px;
  --border-color: rgba(59, 30, 10, 1);
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Green Theme */
.green-theme {
  --primary: rgba(19, 52, 13, 1); /* Green for spinner */
  --secondary: rgba(244, 249, 230, 1); /* Background */
  --tertiary: rgba(106, 134, 101, 1); /* List highlight */
  --bg-tertiary: rgba(226, 236, 220, 1);
  --button: rgba(124, 146, 102, 1); /* Buttons */
  --accent: #E66A6A; /* Accent (Heart) */

  --drop-shadow-color: rgba(140, 147, 129, 1);
  --border-color: rgba(19, 52, 13, 1);

}


/* Pink Theme */
.pink-theme {
  --primary: rgba(210, 99, 160, 1); /* Pink for spinner */
  --secondary: rgba(253, 242, 251, 1); /* Background */
  --tertiary: rgba(222, 196, 210, 1); /* List highlight */
  --bg-tertiary: rgba(242, 212, 228, 1);
  --button: rgba(210, 99, 160, 1); /* Buttons */
  --accent: #E66A6A; /* Accent (Heart) */

  --drop-shadow-color: rgba(216, 190, 204, 1);
  --border-color: rgba(119, 16, 72, 1);

}

/* Blue Theme */
.blue-theme {
  --primary: rgba(23, 69, 115, 1); /* Blue for spinner */
  --secondary: rgba(114, 152, 190, 1); /* Background */
  --tertiary: rgba(114, 152, 190, 1); /* List highlight */
  --bg-tertiary: rgbargba(211, 233, 255, 1);
  --button: rgba(114, 152, 190, 1); /* Buttons */
  --accent: #E66A6A; /* Accent (Heart) */

  --drop-shadow-color: rgba(167, 189, 211, 1);
  --border-color: rgba(23, 69, 115, 1);

}

/* Yellow Theme */
.blue-theme {
  --primary: rgba(236, 187, 26, 1); /* Yellow for spinner */
  --secondary: rgba(255, 237, 211, 1); /* Background */
  --tertiary: rgba(238, 213, 175, 1); /* List highlight */
  --bg-tertiary: rgba(255, 230, 192, 1);
  --button: rgba(237, 170, 69, 1); /* Buttons */
  --accent: #E66A6A; /* Accent (Heart) */

  --drop-shadow-color: rgba(237, 217, 150, 1);
  --border-color: rgba(202, 121, 0, 1);

}


