.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Makes it circular */
    transform-origin: 50% 50%; /* Set the rotation center */
    overflow: hidden;
    border: 5px solid #ccc;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f06;
    color: white;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  