@import '../../styles/variables.css';

/* General Styles */
button:active svg {
  transform: scale(0.95); /* Slight shrink on click */
}

/* Option Item */
.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 8px;
}

.optionItem span {
  transition: color 0.3s, text-decoration 0.3s;
}

.optionItem span.hidden {
  color: rgb(58, 55, 55);
  text-decoration: line-through;
  opacity: 0.6;
}

.optionItem button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease; /* Hover effect */
}

/* Edit Items */
.editItems {
  display: flex;
  align-items: flex-end;
  gap: 0;
}

.editItems button svg {
  padding: 0px;
  width: 25px;
  height: 25px;
  fill: var(--primary); 
  transition: fill 0.2s ease, transform 0.2s ease;
}

.editItems button:hover svg {
  fill: var(--primary);
  transform: scale(1.1); 
}

/* Adjust spacing between buttons */
button + button {
  margin-left: 0px;
  margin-right: 0px;
}

/* Input List */
.inputList {
  width: 100%;
  min-height: 700px;
  max-width: 400px; 
  align-items: flex-start;
  background-color: var(--secondary); 
  border-radius: 25px;
  padding: 10px 25px;
  box-shadow: 15px 15px var(--drop-shadow-color);
  outline: 1.5px solid var(--border-color);
}

/* Pie Slices in the Input List */
.pieSlices {
  background: var(--bg-tertiary);
  border-radius: 15px;
  border: 1.5px solid var(--border-color);
  padding: 10px;
  max-height: 500px;
  overflow: scroll;
  margin-top: 2rem;

}

/* Input Group */
.inputGroup {
  display: flex;
  border-radius: 15px;
  border: 1.5px solid var(--border-color);
  max-height: 100px;
}

.inputGroup input {
  flex-grow: 1; /* Expands input to fill available space */
  padding: 0.5rem;
  border-radius: 12px 0px 0px 12px;
  border: none;
  background-color: var(--bg-tertiary);
  display: flex;
  width: 378.142px;
  padding: 16px 14px;
  /* background: transparent; */
  flex-direction: column;
  align-items: flex-start;
}

.input-group input::placeholder {
  color: var(--border-color);
  font-style: italic; 
  font-size: medium;
}

#inputField {
  margin: 10px;
  border: none;
}

/* Button Styles */
button:disabled {
  background-color: var(--primary);
  cursor:not-allowed;
}


button {
  background-color: var(--button);
  border-radius: 0px 12px 12px 0px; /* Top-right, Bottom-right, Bottom-left, Top-left */
  border: none;
  fill: var(--secondary);
  cursor: pointer;
}

/* Editable Input */
.editInput {
  background-color: transparent; /* Transparent background */
  padding: 0px;
  border-radius: 5px;
  border: transparent;
  /*border-bottom: solid var(--border-color);  Underline styling */
}
.editInput:focus {
  border: none;
  outline: none;
}

/* Action Buttons */
#edit,
#trash,
#save {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  /* Input List */
.inputList {
  justify-content: center;
  max-width: 90%;
  align-items: flex-start; /* Align items to the top */
  background-color: var(--secondary); /* Distinct background */
  border-radius: 25px; /* Rounded corners */
  box-shadow: 10px 10px var(--drop-shadow-color);
  outline: 1.5px solid var(--border-color); /* Additional border */
}

}